p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --primary-txt-color: #212121;
  --primary-txt-color-opacity: #21212133;
  --secondary-txt-color: #757575;
  --white-color: #ffffff;
  --white-opacity-color: #ffffff99;
  --black-color: #000000;
  --blue-color: #2196f3;
  --black-bg-color: #2F303A;
  --light-bg-color: #F5F4FA;
  --btn-color-accent: #188ce8;
  --svg-border-color: #AFB1B8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --overlay: #00000033;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-txt-color);
  background-color: var(--white-color);
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #ECECEC;
  background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .header__container {
    position: relative;
  }
}

.header__nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header__nav-bar {
    width: 100%;
  }
}

.header__menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: block;
  padding: 32px 0 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-txt-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.menu__link:hover, .menu__link:focus {
  color: var(--blue-color);
}

.header__contacts-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

.contacts-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .contacts-list__link {
    gap: 10px;
    padding: 32px 0;
  }
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--blue-color);
}

.contacts-list__mail {
  width: 16px;
  height: 12px;
}

.contacts-list__phone {
  width: 10px;
  height: 16px;
}

.contacts-list__mail, .contacts-list__phone {
  fill: currentColor;
}

.current {
  color: var(--blue-color);
  position: relative;
}

.current::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 2px;
}

.header__btn-open {
  padding: 0;
  background-color: transparent;
  border-color: transparent;
}

@media screen and (min-width: 768px) {
  .header__btn-open {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav-bar__wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__btn-close {
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
}

@media screen and (min-width: 768px) {
  .header__btn-close {
    display: none;
  }
}

.header__mob-menu {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .header__mob-menu {
    display: none;
  }
}

.mob-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-left: 40px;
  padding-right: 15px;
  overflow: auto;
}

.mob-menu__nav-list {
  margin-bottom: 30px;
}

.mob-menu__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 40px;
  line-height: 1.18;
  color: var(--primary-txt-color);
}

.mob-menu__nav-link:hover, .mob-menu__nav-link:focus {
  color: var(--blue-color);
}

.mob-menu__contc-list {
  margin-bottom: 64px;
}

.mob-menu__contc-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mob-menu__soc-item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  position: relative;
}

.mob-menu__soc-item:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: var(--primary-txt-color-opacity);
}

.mob-menu__soc-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 12px;
  line-height: 1.22;
}

@media screen and (min-width: 400px) {
  .mob-menu__soc-link {
    font-size: 16px;
  }
}

.mob-menu__contc-item:first-child {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 34px;
  line-height: 1.76;
}

.mob-menu__contc-item:last-child {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 1.67;
}

.mob-menu__accent-col {
  color: var(--blue-color);
}

.mob-menu__regular-col {
  color: var(--secondary-txt-color);
}

.header__btn-close:hover .header__icon-close,
.header__btn-close:focus .header__icon-close {
  fill: var(--blue-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0);
          transform: translate(-50%, -50%) scale(1) rotate(0);
  min-width: 320px;
  width: calc(100% - 30px);
  height: 609px;
  padding: 40px;
  background-color: var(--white-color);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  overflow: auto;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal .backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0) rotate(-360deg);
          transform: translate(-50%, -50%) scale(0) rotate(-360deg);
}

.modal .btn-modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: var(--black-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.modal .icon-modal-close {
  fill: currentColor;
}

.modal .btn-modal-close:hover {
  color: var(--btn-color-accent);
}

.modal-txt {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
  color: var(--primary-txt-color);
}

@media screen and (min-width: 1200px) {
  .modal-txt {
    line-height: 1.15;
  }
}

.modal-form-label {
  display: block;
  position: relative;
}

.modal-form-label + .modal-form-label {
  margin-top: 10px;
}

.modal-form-label:focus-within > .modal-form-icon {
  fill: var(--blue-color);
}

.modal-form-label > span {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--secondary-txt-color);
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.modal-form-input {
  height: 40px;
  padding-left: 30px;
}

.modal-form-comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.modal-input:focus {
  border-color: var(--blue-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.modal-form-field {
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-check-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .modal-check-txt {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.modal-txt-privacy {
  font-size: 12px;
  line-height: 1.17;
  color: var(--secondary-txt-color);
}

@media screen and (min-width: 1200px) {
  .modal-txt-privacy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-link-privacy {
  color: var(--blue-color);
}

.modal-check-txt .modal-new-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  -webkit-transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.modal-form-check:checked + .modal-check-txt .modal-new-check {
  background-color: var(--blue-color);
  fill: var(--white-color);
  border: transparent;
}

.modal-form-check:focus + .modal-check-txt .modal-new-check {
  border-color: var(--blue-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--blue-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 87px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 92px;
  }
}

.text__color-black {
  color: var(--black-color);
}

.footer__logo {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

.text__color-white {
  color: var(--white-color);
}

.order {
  min-height: 400px;
  margin: 0 auto;
  padding: 118px 60px;
  background-color: #C4C4C4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-mob.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .order {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-mob-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .order {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-tab.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab.jpg);
    padding: 118px 0;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .order {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-tab-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .order {
    min-height: 600px;
    max-width: 1600px;
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .order {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-2x.jpg);
  }
}

.order__title {
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .order__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--blue-color);
  border-color: transparent;
  outline: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.btn:hover, .btn:focus {
  background-color: var(--btn-color-accent);
}

.order__btn {
  padding: 10px 24px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .order__btn {
    padding: 10px 32px;
  }
}

.footer-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px 10px 31px;
  width: 200px;
  height: 50px;
}

@media screen and (min-width: 1200px) {
  .footer-form__btn {
    padding: 10px 28px;
    margin-left: 0;
    margin-right: 0;
  }
}

.btn__modal-form {
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
}

.filter-list__btn {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--black-color);
  background-color: var(--light-bg-color);
  border: none;
  border-color: transparent;
  border-radius: 4px;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.filter-list__btn:hover, .filter-list__btn:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--svg-border-color);
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.socials__icon--top {
  fill: currentColor;
}

.socials__icon--bottom {
  fill: currentColor;
}

.intro__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .intro__icon-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.icon-list__title {
  margin-bottom: 10px;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .icon-list__title {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .icon-list__item {
    -ms-flex-preferred-size: calc((100% - 30) / 2);
        flex-basis: calc((100% - 30) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .icon-list__item {
    -ms-flex-preferred-size: calc((100% - 90) / 4);
        flex-basis: calc((100% - 90) / 4);
  }
}

.icon-list__subtitle {
  color: var(--secondary-txt-color);
}

@media screen and (min-width: 768px) {
  .icon-list__subtitle {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-list__subtitle {
    max-width: 270px;
  }
}

.svg-antenna::before {
  content: " ";
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--light-bg-color);
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
  background-image: url(../images/antenna.svg);
}

@media screen and (min-width: 768px) {
  .svg-antenna::before {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .svg-antenna::before {
    max-width: 270px;
  }
}

.svg-clock::before {
  content: " ";
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--light-bg-color);
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
  background-image: url(../images/clock.svg);
}

@media screen and (min-width: 768px) {
  .svg-clock::before {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .svg-clock::before {
    max-width: 270px;
  }
}

.svg-diagram::before {
  content: " ";
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--light-bg-color);
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
  background-image: url(../images/diagram.svg);
}

@media screen and (min-width: 768px) {
  .svg-diagram::before {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .svg-diagram::before {
    max-width: 270px;
  }
}

.svg-astronaut::before {
  content: " ";
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--light-bg-color);
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
  background-image: url(../images/astronaut.svg);
}

@media screen and (min-width: 768px) {
  .svg-astronaut::before {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .svg-astronaut::before {
    max-width: 270px;
  }
}

.about {
  display: none;
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}

.about__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-list__item {
  position: relative;
}

.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.work-list__overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.172;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--light-bg-color);
}

.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.72;
    margin-bottom: 50px;
  }
}

.people-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .people-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.people-list__item {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .people-list__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .people-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.people-list__container {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .people-list__container {
    padding-bottom: 30px;
  }
}

.people-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.people-list__subtitle {
  font-size: 16px;
  text-align: center;
  color: var(--secondary-txt-color);
  margin-bottom: 16px;
}

.clients__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .clients__title {
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.card-list__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  height: 92px;
}

@media screen and (min-width: 768px) {
  .card-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .card-list__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

.card-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--svg-border-color);
  border-radius: 4px;
  color: var(--svg-border-color);
  -webkit-transition: border-color 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.card-list__link:hover, .card-list__link:focus {
  border-color: var(--blue-color);
  color: var(--blue-color);
}

.card-list__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--black-bg-color);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__contacts {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-bottom: 0;
  }
}

.footer__wrap {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__wrap {
    margin-bottom: 0;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: start;
    line-height: 1.14;
  }
}

.adress__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .adress__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .adress__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.adress__link {
  line-height: 1.7;
  color: var(--white-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.adress__link:hover, .adress__link:focus {
  color: var(--blue-color);
}

.adress__link--opacity {
  color: var(--white-opacity-color);
}

.socials__link--bottom {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
}

.socials__link--bottom:hover, .socials__link--bottom:focus {
  background-color: #2196F3;
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  width: 326px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filters-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filters-list {
    margin-bottom: 50px;
  }
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .products-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.products-list__item {
  background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .products-list__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .products-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.products-list__container {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.products-list__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-txt-color);
  margin-bottom: 4px;
}

.products-list__subtitle {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-txt-color);
}

.products-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.products-list__link:hover, .products-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products-list__link:hover .products__text,
.products-list__link:focus .products__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.products__wrap {
  position: relative;
  overflow: hidden;
}

.products__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}

.footer-form {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-form {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    width: 570px;
  }
}

.footer-form-txt {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-form-txt {
    text-align: left;
    line-height: 1.17;
  }
}

.footer-form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer-form-field {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-form-input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  margin-bottom: 20px;
  outline: transparent;
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    width: 358px;
  }
}

.footer-form-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-opacity-color);
}

.footer-form-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-opacity-color);
}

.footer-form-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-opacity-color);
}

.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-opacity-color);
}

.footer-form-icon {
  fill: currentColor;
  margin-left: 10px;
}

.footer-form-input:focus {
  border-color: var(--white-color);
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--btn-color-accent);
}
/*# sourceMappingURL=main.css.map */