.filters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 326px;
    margin-bottom: 40px;


    @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
        width: 100%;
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}